PORT=8080

DB_TYPE=mysql
DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=db

SALT=10
JWT_SECRET=token-secret
JWT_EXPIRES_IN=1h
FRONT_URL='http://localhost:3000'

S3_ACCESS_KEY= # Access Key ID
S3_SECRET_ACCESS_KEY= # Secret Access Key
S3_REGION=auto  # Region (this might be different for you)
S3_BUCKET_NAME="s3-bucket-blog-demo" # Bucket Name (this might be different for you)
S3_ENDPOINT = # endpoint